body{padding:0;margin:0; background-color:#ffffff;}

div.user1,
div.user2,
div.user3,
div.user4,
div.user5,
div.user6,
div.user7{border-bottom:1px solid black; padding:3px;}

div.user1:hover,
div.user2:hover,
div.user3:hover,
div.user4:hover,
div.user5:hover,
div.user6:hover,
div.user7:hover{background-color:#fffdda;}

div.user1 span.name{color:red; font-weight:bold;}
div.user2 span.name{color:blue; font-weight:bold;}
div.user3 span.name{color:green; font-weight:bold;}
div.user4 span.name{color:olive; font-weight:bold;}
div.user5 span.name{color:orange; font-weight:bold;}
div.user6 span.name{color:grey; font-weight:bold;}
div.user7 span.name{color:maroon; font-weight:bold;}

span.query{display:block; padding-left:5px; font-size:90%;}
span.name{display:block;}


