body{background-color:#ffffff;font-size:90%; margin:0; padding:0;}

div.message1,div.recommendation1,
div.message2,div.recommendation2,
div.message3,div.recommendation3,
div.message4,div.recommendation4,
div.message5,div.recommendation5,
div.message6,div.recommendation6,
div.message7,div.recommendation7{margin:5px; }

div.recommendation1,
div.recommendation2,
div.recommendation3,
div.recommendation4,
div.recommendation5,
div.recommendation6,
div.recommendation7{background-color:#fffdda; border:1px solid black;}

span.sender{padding:3px;}

div.message1 span.sender, div.recommendation1 span.sender{color:red; font-weight:bold;}
div.message2 span.sender, div.recommendation2 span.sender{color:blue; font-weight:bold;}
div.message3 span.sender, div.recommendation3 span.sender{color:green; font-weight:bold;}
div.message4 span.sender, div.recommendation4 span.sender{color:olive; font-weight:bold;}
div.message5 span.sender, div.recommendation5 span.sender{color:orange; font-weight:bold;}
div.message6 span.sender, div.recommendation6 span.sender{color:grey; font-weight:bold;}
div.message7 span.sender, div.recommendation7 span.sender{color:maroon; font-weight:bold;}

span.body a{text-decoration:underline; color:blue;}
