/*
 *  Search Party
 *  Copyright (C) 2005  Sanford Armstrong
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 *   
 *  Please direct questions about Search Party to Sandy at
 *  sanfordarmstrong@gmail.com.
 */

sp-container {
     -moz-user-focus: ignore;
     display: -moz-box;
}

sp-button {
     -moz-binding: url(chrome://global/content/bindings/toolbarbutton.xml#toolbarbutton);
     -moz-appearance: toolbarbutton;
     -moz-box-align: center;
     -moz-box-pack: center;
     padding-top:2px;
     padding-right-value:5px;
     padding-bottom:2px;
     padding-left-value:3px;
}

#sp-button > .toolbarbutton-text {
     display: -moz-box !important;
}
